<%- include('partials/header'); -%>

<!-- Header starts-->
<header class="pt-5 bg-primary">
  <div class="container-fluid ">
    <h1 class="font-weight-bold text-white">Hello there!<i class="text-danger fas fa-heart"></i></h1>
    <h3>Welcome to my website!</h3>
    <p class="mt-5 lead">I created this website from scratch to showcase everything about me, counting my artwork!</p>
  </div>
</header>
<!-- Header ends -->

<!-- About me -->
<section class="about height align-items-center justify-content-center">
  <div class="container-fluid m-auto">
    <h2 class="mt-4 mb-5 title">About Me</h2>
    <div class="row text-center mt-2 mb-5">
      <div class="col-sm-6 col-md-3 left-b" id="leftMe">
        <div class="card">
          <div class="card-body p-0">
            <img src="img/me.jpg" alt="me" width="100%">
          </div>
          <div class="card-footer py-1">
            <p class="lead">This is me (with a fan)</p>
          </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-9 mt-5 pt-5 right-b" id="rightMe">
        <div class="row">
          <div class="col-4">
            <img src="img/graduation-cap-solid.png" width="30%" alt="">
            <h5 class="my-3">Studies</h5>
            <p>I am a junior Computer Science student at the Lebanese American University, minoring in Data Analytics!</p>
          </div>
          <div class="col-4">
            <img src="img/palette-solid.png" width="30%" alt="">
            <img src="" alt="">
            <h5 class="my-3">Art</h5>
            <p>I am a self-taught Photoshop artist, and on my free time I do some cool <a href="/images-collection">artwork</a> with it!</p>
          </div>
          <div class="col-4">
            <img src="img/pencil-solid.png" width="30%" alt="">
            <h5 class="my-3">Writing</h5>
            <p>I also dabble into creative writing here and there, keep scrolling to see some of my writings!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About me ends-->

<!-- My skills -->
<section class="skills height pb-5">
  <div class="container-fluid m-auto">
    <h2 class="mt-4 mb-5 text-white title">My Skills <img src="img/skill.png" width="35px" alt=""></h2>
    <div class="container-fluid align-items-center justify-content-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-6 col-xl-8 text-white align-items-center justify-content-center">
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="bg-light ml-auto text-dark p-2 rounded m-3 skill w-100"><h3 class="p-2">Web Development <img src="img/code.png" width="35px" alt=""></h3><p class="text-muted">I am experienced in both front-end and back-end technologies, including NodeJs, ExpressJs, MongoDB, EJS, NPM, HTML5, css3, and vanilla JavaScript!</p></div>
            </div>
          </div>
          <div class="row">
            <div class="ml-auto col-12 col-md-8">
              <div class="bg-light text-dark p-2 rounded m-3 skill w-100"><h3 class="p-2">Data Analytics <img src="img/analytics.png" width="35px" alt=""></h3><p class="text-muted">I am skilled in Tableau, R/RStudio, and FIGMA and worked on multiple Data Analytics projects from ideation to prototyping and testing.</p></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="bg-light ml-auto text-dark p-2 rounded m-3 skill w-100"><h3 class="p-2">Database Design <img src="img/database.png" width="35px" alt=""></h3><p class="text-muted">I also have some experience in relational databases, and worked on developing a complete database design for an airport using SQL.</p></div>
            </div>
          </div>
          <div class="row">
            <div class="ml-auto col-12 col-md-8">
              <div class="bg-light text-dark p-2 rounded m-3 skill w-100"><h3 class="p-2">Teaching <img src="img/teach.png" width="35px" alt=""></h3><p class="text-muted">I love sharing what I learn, which is why I've held several teaching positions both as a Python instructor and a STEM teacher for highschool and university students!</p></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-4 text-white">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" width="100%" src="img/first.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block" width="100%" src="img/second.png" alt="Second slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- My skills ends -->

<!-- My Art -->
<section class="myart height bg-light">
  <div class="container-fluid px-5">
    <h2 class="text-dark mb-0 title">My Art <img src="img/palette-solid.png" width="30px" alt=""></h2>
    <div class="row pb-5">
      <div id="leftPh" class="left-b col-lg-7 d-flex flex-column justify-content-center">
        <p class="text-dark mb-3 h4">I use <a class="text-dark font-weight-bold" target="_blank" href="https://www.photopea.com/">Photopea</a> to do my artwork, It's a very good free alternative to Photoshop.</p>
        <P class="bg-dark rounded p-4 lead text-light mb-3">If you're used to working with Photoshop, Photopea will be a piece of cake for you. The major differences might be some shortcuts, the fact that it downloads a psd file on your computer instead of saving it like Photoshop, and the occasional crash because it's working on a browser after all. <a href="/images-collection" class=" btn btn-primary btn-block mt-3 check-my-art-btn">Check out my art!</a></P>
      </div>
      <div id="rightPh" class="right-b col-lg-5">
        <a target="_blank" href="https://www.photopea.com/">
          <img width="100%" class="rounded" src="/img/Photopea.png" alt="photopea">
        </a>
      </div>

    </div>
  </div>
</section>
<!-- My Art ends -->

<!-- Instagram starts -->
<section class="height instagram">
  <div class="container-fluid">
    <h2 class="pt-4 mb-2 text-white title">My Writings <img src="img/pencil-solid.png" width="30px" alt=""></h2>
    <p class="lead text-white mb-5">This is a collection of my favorite writings.</p>
    <div class="row"> 
      <div class="col col-md-4">
      </div>
      <div class="col col-12 col-md-4">
        <br>
        <br>
        <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
        <br>
        <br>
        <a href="https://www.instagram.com/rissalhedna/" target="_blank" class=" btn btn-danger btn-block mt-3 check-my-art-btn">Check out my Instagram!</a>
      </div>
      <div class="col col-md-4">
        
      </div>
    </div>
  </div>
</section>
<!-- Instagram ends -->

<%- include('partials/footer'); -%>